<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="https://i.ibb.co/kDVwgwp/logo.png" alt="RedStore" width="125px">
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a href="" routerLink="" class="mylinks">Home</a></li>
          <li><a href="" routerLink="/login" class="mylinks" routerLinkActive="active">Login</a></li>
          <li><a href="" routerLink="/register" class="mylinks" routerLinkActive="active">Register</a></li>
          <li><a href="" routerLink="/usercart" class="mylinks" routerLinkActive="active">Cart</a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-2">
        <h1>
          Buy Products at <br />
          Best Price!
        </h1>
        <p>
          Success isn't always about greatness. It's about consistency.
          Consistent <br />hard work gains success. Greatness will come.
        </p>
        <a href="#" rel="noopener noreferrer" class="btn land" routerLink="/login" routerLinkActive="active">Explore Now
          &#8594;</a>
      </div>
      <div class="col-2">
        <img
          src="https://png.pngtree.com/png-clipart/20200701/original/pngtree-online-shopping-concept-for-landing-page-or-e-commerce-site-png-image_5347803.jpg"
          alt="" />
      </div>
    </div>
  </div>
</div>
<!-- offer -->
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="https://www.nestle.in/sites/g/files/pydnoa451/files/1_homepage_brands-widget_0.jpg" alt=""
          class="offer-img" />
      </div>
      <div class="col-2">
        <p>Exclusively Available on Shopmart</p>
        <h1>Nestle Pack </h1>
        <small>The nestle pack is avaible at the best price in the market . shop mart provides the best product in the market</small>
        <br />
        <a href="#" class="btn land" routerLink="/login" routerLinkActive="active">Buy Now &#8594;</a>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!-- brands -->
<div class="brands">
  <div class="small-container">
    <div class="row">
      <h1 class="brands">
       Available Brands!
      </h1>
      <div class="col-5">
        <img src="../../../assets/images/580b57fcd9996e24bc43c1e8.png" alt="" />
      </div>

      <div class="col-5">
        <img
          src="../../../assets/images/Haldiram's_Logo.svg.png"
          alt="" />
      </div>

      <div class="col-5">
        <img src="../../../assets/images/logo-coca-cola.png" alt="" />
      </div>

      <div class="col-5">
        <img src="../../../assets/images/Sprite-Logo.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-2">
        <img src="https://i.ibb.co/j3FNGj7/logo-white.png" alt="" />
        <p>
          Our Purpose Is To Sustainably Make the Pleasure and Benefits of
          Products Accessible to the Many.
        </p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Delivery-Point</li>
          <li>Return Policy</li>
          <li>Our Branches</li>
        </ul>
      </div>
      <hr />
      <p class="copyright">Copyright &copy; 2021 - Shop Mart</p>
    </div>
  </div>