<div class="new-container">
<div class="header">
      <div class="navbar">
        <div class="logo">
          <img src="https://i.ibb.co/kDVwgwp/logo.png" alt="RedStore" width="125px">
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a href="" routerLink="" class="mylinks">Home</a></li>
          </ul>
        </nav>
      </div>
<div class="row">
    <div class="col">
        <app-filters></app-filters>
    </div>
    <div class="col-md-7">
        <app-productslist></app-productslist>
    </div>
    <div class="col">
        <app-mycart></app-mycart>
    </div>
    
</div>
<!-- Footer -->
<!-- Footer -->
<div class="footer mainpage">
    <div class="container">
      <div class="row">
        <div class="footer-col-2">
          <img src="https://i.ibb.co/j3FNGj7/logo-white.png" alt="" />
          <p>
            Our Purpose Is To Sustainably Make the Pleasure and Benefits of
            Products Accessible to the Many.
          </p>
        </div>
        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>Delivery-Point</li>
            <li>Return Policy</li>
            <li>Our Branches</li>
          </ul>
        </div>
        <hr />
        <p class="copyright">Copyright &copy; 2021 - Shop Mart</p>
      </div>
    </div>