<div *ngIf="cartItems.length ===0" alert alert-info>Your Cart Is Empty</div>
<div class="iteamcontainer">
<ul *ngIf="cartItems.length >0 "list-group>
    <li class="list-group-iteam" *ngFor="let item of cartItems" >
        <app-cart-iteams [cartItem]= "item"></app-cart-iteams>
    </li>
    <button class="list-group-item active">
     <strong>Total{{cartTotal |currency:"INR"}}</strong> 
    </button>
    <button class="btn btn-danger" (click)="removeItem()">
        Empty Your Cart
       </button>
</ul>
</div>

<!-- right one -->