<div class="auth">
    <div class="auth-container">
      <div class="auth-logo">
      </div>
      <form action="" method="" class="auth-form">
        <h1 class="login-primary">User-Register</h1>
            <div class="auth-input">
                <label for="firstname">
                  First-Name
                </label>
                <input type="text" name="firstname" id="firstname"  (keyup)="onkey($event, 'firstname')"/>
                <p *ngIf="!valid.firstname" class="error-msg">invalid firstname*</p>
              </div>
              <div class="auth-input">
                <label for="lastname">
                  Last-Name
                </label>
                <input type="text" name="lastname" id="lastname" (keyup)="onkey($event,'lastname')" />
                <p *ngIf="!valid.lastname" class="error-msg">Invalid lastname*</p>
              </div>
              <div class="auth-input">
                <label for="email">
                  Email
                </label>
                <input type="email" name="email" id="email" (keyup)="onkey($event,'email')"/>
                <p *ngIf="!valid.email" class="error-msg">Invalid email*</p>
              </div>
              <div class="auth-input">
                <label for="mobileno">
                  Mobile-No
                </label>
                <input type="tel" name="mobileno" id="mobileno" (keyup)="onkey($event,'mobileno')" />
                <p *ngIf="!valid.mobileno" class="error-msg">Invalid number*</p>
              </div>
    
        <div class="auth-input">
          <label for="password">
            Password
          </label>
          <input type="password" name="password" id="password" (keyup)="onkey($event,'password')" />
        </div>
        <div class="auth-input">
          <label for="confirmpassword">
            Confirm-Password
          </label>
          <input type="password" name="confirmPassword" id="confirmPassword" (keyup)="onkey($event, 'confirmPassword')"/>
          <p *ngIf="!valid.password" class="error-msg">Password Incorrect*</p>
        </div>
        <button type="submit" name="submit" class="auth-btn"  routerLink="/usercart">Register</button>
      </form>
      <div class="auth-bottom">
         Have an account yet? <a href="" routerLink="/login" routerLinkActive="active" >Login Now</a>
      </div>
    </div>
  </div>